<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" />
</div>
<div id="descricao">
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao">
</div>
<div id="quantidade">
    <label for="quantidade">Quantidade:</label>
    <input type="text" name="quantidade">
</div>
<div id="preco">
    <label for="preco">Preço:</label>
    <input type="text" name="preco">
</div>
<div id="botaoCadastrar">
    <button (click)="create()">Cadastrar</button>
</div>
<a routerLink="/produto/listar">Listar Produtos</a>